<footer class="bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled mt-2">
                    <li>
                        <a href="#" class="text-white">FAQs</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Community</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6"></div>
        </div>
    </div>
</footer>